/* Styles */
.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

*{
  font-family: Oswald, sans-serif;
  
}

.video-container video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  filter: brightness(30%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

.section {
  padding: 0px;
}

.navbar {
  position: sticky;
  width: 100%;
  background-color: hsla(0, 0%, 86.7%, 0);
  object-fit: fill;
}

.heroContainer {

  background-color: transparent;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.nav-menu {
  height: 100%;
}

.container {
  display: block;

  justify-content: space-between;

  align-items: center;
}

.NavigationInnerContainer {
  display: flex;
  padding-top: 20px;
  padding-right: 100px;
  padding-left: 100px;
  justify-content: space-between;
}

.link-block {
  margin-right: 10px;
  padding: 20px 20px;
  border: 1px none #000;
  border-radius: 0px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  transition: border-width 200ms ease-in-out;
  color: #fff;
  text-decoration: none;
}

.link-block:focus-visible {
  margin-right: 8px;
  border-style: solid;
  background-color: #fff;
  color: #000;
}

.navigationLinksContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Oswald, sans-serif;
  color: #fff;
}

.body {
  background-color: #fff;
}

.pausebutton {
  position: static;
  padding: 15px;
  border: 3px solid #fff;
  border-radius: 100%;
  background-color: rgba(56, 152, 236, 0);
  transition: background-color 200ms ease-in-out;
  font-size: 25px;
  line-height: 30px;
}

.pausebutton:hover {
  background-color: rgba(255, 255, 255, 0.56);
}

.pausebutton:focus {
  background-color: rgba(255, 255, 255, 0.59);
}

.pausebutton:focus-visible {
  background-color: rgba(255, 255, 255, 0.59);
}

.videoPauseContainer {
  position: relative;
  text-align: center;
  padding: 70px 150px;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoHeadingContainer {
  display: flex;
  height: 100%;

  flex-direction: column;

  justify-content: flex-end;
  color: #fff;
  font-size: 45px;
  line-height: 50px;
}

.titleText {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 45px;
  line-height: 50px;
  color: #fff;
}
.titleTextLogo {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-size: 45px;
  line-height: 50px;
  color: #fff;
}

.brand {
  margin-right: 20px;
}

.heroContainerMain {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroImage {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #fff;
}

.heading {
  font-family: "Great Vibes", cursive;
  color: #fff;
  font-size: 60px;
  line-height: 70px;
}

.heroHeadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.penCareBody {
  background-color: rgb(56, 56, 56);
}

.penCareContainer {
  width: auto;
}
.penCareContainerTitle{
  font-weight: 300;
  color: #fff;
}

.penCareAccordionTrigger {
  font-family: Oswald, sans-serif;

  border-style: solid;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;

  transition: 0.4s;
}

.active,
.penCareAccordionTrigger:hover {
  background-color: #ccc;
}

.penCareAccordionTriggerHeading{
  font-weight: 300;
  font-size: 20px;
  line-height: 22px;
  margin: 0;

}

.penCareAccordionExpandedRegion {
  padding: 18px;
  background-color: white;
  visibility: hidden;
  overflow: hidden;
  font-size: 16px;
  line-height: 22px;

}

.penCareAccordionTrigger:focus {
  background-color: rgba(255, 255, 255, 0.59);
}

.penCareAccordionTrigger:focus-visible {
  background-color: rgba(255, 255, 255, 0.59);
  border-style: solid;
  color: #000;
}

a.skip-link {
  position:absolute;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
  z-index:-999;
}

a.skip-link:focus, a.skip-link:active {
  color: #fff;
  background-color:#000;
  left: auto;
  top: auto;
  width: auto;
  height: auto; 
  margin: 10px 20px;
  padding: 10px 20px;
  border-radius: 15px;
  text-align:center;
  font-size:1.2em;
  z-index:999;
}


.LoginContainer{
  border-radius: 8px;
  background-color:rgb(255, 255, 255);
  box-shadow: 0 2px 5px rgba(255, 255, 255);
  width: 500px;
  max-width: 100%;
  overflow: hidden;

}

.header{
  background-color: white;
  border-bottom: 1px solid black;
  padding: 20px 40px;
}

.header h2{
  margin: 0;
  color: #0d191a;
}

.form{
  padding: 30px 40px;
}

.form-control{
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label{
  display: inline-block;
  margin-bottom: 5px;
  color: #0d191a;
}

.form-control input{
  border: 2px solid black;
  border-radius: 8px;
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  padding: 10px;
  width: 100%;
  background-color: white;
}

.form-control.success input{
  border-color: black;

}

.form-control.blank input{
  border-color: #e74c3c;
}

.form-control.noeight input{
  border-color: #e74c3c;
}
.form-control i{
  visibility: hidden;
  position: absolute;
  top: 40px;
  right: 10px;
}


.form-control.blank i.fa-exclamation-circle{
  visibility: visible;
  color:  #e74c3c;
}



.form-control small{
  display: none;
  position: relative;
  bottom: 0;
  left: 0;
}

.form-control.blank small{
  visibility: visible;
  display: inline;
  color:  #e74c3c;

}





.form button{
  background-color: #0d191a;
  border: 2px solid #0d191a;
  font-family: 'Montserrat', sans-serif;
  border-radius: 8px;
  font-size: 16px;
  color: white;
  display: block;
  padding: 10px;
  width: 100%;
}

.form button:focus{
  background-color: #0d191a81;
  border: 2px solid #1828b3;
  font-family: 'Montserrat', sans-serif;
  border-radius: 8px;
  font-size: 16px;
  color: white;
  display: block;
  padding: 10px;
  width: 100%;
}

.form .message {
  margin: 15px 0 0;
  color: #0d191a;
  font-size: 12px;
}
.form .message a {
  color: #0d191a;
  text-decoration: none;
  text-decoration: underline;
}

.figure ul li.message{
  margin: 15px 0 0;
  color: #0d191a;
  font-size: 12px;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}


.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}


.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}